body {
    background-color: black;
    color: #FFEB1F;
    background-image: url(https://e0.pxfuel.com/wallpapers/804/170/desktop-wallpaper-star-wars-star-background-best-background-star-wars-universe.jpg);
}

.btn-info {
    font-size: 30px;
    text-decoration: none;
    color: #FFEB1F;
}

iframe {
    margin-inline: 20px;
}

.characters {
    float: left;
    padding: 10px;
}

.vehicles {
    padding: 10px;
    margin: auto;
}

.planets {

    padding: 10px;
}

.carousel {
    width: 400px;
}

.carousel-item {
    width: 400px;
    height: 400px;
}

nav {
    background-color: black;
}