/* 
    General Styles
*/

.navbar{
    background-color: black;
    margin-block: 0;
    
}

.navbar-brand{
    color:#FFEB1F
}

.navbar-brand:hover{
    color: #FFEB1F;
}

.container-logo{
    display:flex;
    margin-inline: auto;
    align-items: center;
}

.logo{    
    width: 300px;
    height: 200px;
    image-rendering: auto;
    object-fit: cover;
    font-weight: bold;
    color: #FFEB1F;
    font-style:inherit;
    
}


.fa-brands{
    font-size: 200px;
}

.social-media{
    display: flex;
    padding: 20px;
    margin-inline:10px;
}