/* 
    General Styles
*/



body::-webkit-scrollbar {
    width: 8px;

}


body::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #c9b505 0%, #000000 100%);
    border-radius: 80px;
}















.navbar {
    background-color: black;
    margin-block: 0;

}

.navbar-brand {
    color: #FFEB1F
}

.navbar-brand:hover {
    color: #FFEB1F;
}



.container-nav {
    display: flex;
}

.container-logo {
    margin-block: auto;
    margin-inline: 35rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    image-rendering: auto;
    object-fit: cover;
    font-weight: bold;
    color: #FFEB1F;
    font-style: inherit;
}

.social-media {
    margin-block: 15px;
    padding-inline: 10px;

}

.social-media a {
    color: rgb(95, 91, 91);
    background: none;
    font-size: 13px;
    transition: text-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.social-media a:hover {
    filter: brightness(300%);
    filter: contrast(300%);
    color: #FFEB1F;
    ;
    text-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00c7ff, 0 0 70px #00c7ff, 0 0 80px #00c7ff, 0 0 100px #00c7ff, 0 0 150px #00c7ff;
    /* Sombra del texto simulando el efecto de neón */
    transform: scale(1.2);
    /* Escala el icono al 120% en hover */
}




.dropdown {
    margin-block: 15px;
}



.dropdown-menu {
    width: 220px;
}

.delete {
    border: none;
    margin-inline: 50px;
    padding: 0;
    width: 0;
    height: 0;
}