/* 
    General Styles
*/

.navbar {
    background-color: black;
    margin-block: 0;

}

.navbar-brand {
    color: #FFEB1F
}

.navbar-brand:hover {
    color: #FFEB1F;
}



.container-nav {
    display: flex;
}

.container-logo {
    margin-block: auto;
    margin-inline: 35rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    image-rendering: auto;
    object-fit: cover;
    font-weight: bold;
    color: #FFEB1F;
    font-style: inherit;
}

.social-media {
    margin-block: 15px;
    padding-inline: 10px;
}

.dropdown{
    margin-block: 15px;
}


